<% for (const [name, entries] of await ctx.entries) { %>
  <section>
    <h1><%= name %></h1>

    <% for (const {
      version, 
      os, 
      arch, 
      download_url_gz,
      download_url_xz,
      download_url_zip,
    } of await entries) { %>
      <div>
        <div><%= name %></div>
        <div><%= os %></div>
        <div><%= arch %></div>
        <div><a href="<%= download_url_gz %>"><%= download_url_gz %></a></div>
        <div><a href="<%= download_url_xz %>"><%= download_url_xz %></a></div>
        <div><a href="<%= download_url_zip %>"><%= download_url_zip %></a></div>
      </div>
    <% } %>
  </section>
<% } %>
